# Den gesamten Ordner 'Quellen' ignorieren
Quellen/

# Alles im Ordner 'Obsidian' ignorieren, außer die Datei 'Notizen zu Quellen.md'
Obsidian/*
!Obsidian/Notizen zu Quellen.md

# Vorlage ignorieren
Zielvereinbarung_Abschlussarbeit_Vorlage.pdf
